<h2>ID вороса: <%= @question.id %></h2>
<p><b>Вопрос:</b> <%= @question.body %></p>
<p>ID теста: <%= @question.test_id %></p>
<%= link_to 'Редактировать', edit_question_path(@question), :class => "btn btn-warning" %>
<%= link_to 'Удалить вопрос', question_path(@question), method: :delete, data: {confirm: 'Хотите удалить вопрос?'}, :class => "btn btn-danger" %>
<%= link_to 'Назад к тесту', test_path(@question.test), :class => "btn btn-warning" %>
<hr>
