<%= form_with model: [:admin, @badge], html: { multipart: true }, local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>
  <div class="form-group">

    <p>
      <%= form.label :rule %><br>
      <%= form.select :rule, Badge::BADGE_RULES, id: :badge_rule, class: 'form-control rule' %>
      <%= link_to "confirm", "",
                  class: 'badge-inline-link' %>
    </p>

    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title, id: :badge_title, class: 'form-control title', placeholder: "Title" %>
    </p>

    <p>
      <%= form.label :image %><br>
      <%= form.file_field :image, direct_upload: true, class: 'form-control' %>
    </p>

    <p><%= form.submit class: 'btn btn-primary'%></p>
    <p><%= link_to 'Back', admin_badges_path, class: "btn btn-warning" %></p>
  </div>
<% end %>