<%= form_with model: [:admin, @badge], html: { multipart: true }, local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>
  <div class="form-group">

    <div class='badge-inline-link'>
      <%= form.label t('admin.badges.index.rule') %><br>
      <%= form.select :rule, options_for_select(badge_rules), id: :badge_rule, class: 'form-control rule' %>
    </div><br>

    <p>
      <%= form.label t('admin.badges.index.title') %><br>
      <%= form.select :title, options_for_select(badge_titles), id: :badge_title, class: 'form-control title' %>
    </p>

    <p>
      <%= form.label t('admin.badges.index.image') %><br>
      <%= form.file_field :image, direct_upload: true, class: 'form-control' %>
    </p>

    <p><%= form.submit class: 'btn btn-outline-success my-2 my-sm-0'%></p>
    <p><%= link_to t('admin.badges.index.back'), admin_badges_path, class: "btn btn-sm btn-outline-dark" %></p>
  </div>
<% end %>