<div class="row justify-content-center mt-3">
  <div class="col col-md-4">

    <h1><%= t('.header') %></h1>

    <p>
      <strong><%= t('.rule') %>:</strong><br>
      <%= @badge.rule %>
    </p>

    <p style="width:200px; height:auto">
      <strong><%= t('.image') %>:</strong><br>
      <%= image_tag(@badge.image, style:'width:100%') %>
    </p>

    <p>
      <strong><%= t('.title') %>:</strong><br>
      <%= @badge.title %>
    </p>

    <div class="row">
      <%= link_to t('.edit'), edit_admin_badge_path(@badge), class: 'nav-link' %>
      <%= link_to t('.delete'),
                  admin_badge_path(@badge),
                  method: :delete,
                  data: { confirm: t('navigation.confirm') },
                  class: 'nav-link' %>
      <%= link_to t('navigation.back'), admin_badges_path, class: 'nav-link' %>
    </div>

  </div>
</div>