<%= form_with(model: [:admin, @question, @answer], local: true) do |form| %>
  <%= render 'shared/errors', resource: @answer %>

  <div class="field">
    <p>
      <%= form.label t('.body') %>
      <%= form.text_area :body, id: :answer_body, rows: 7, cols: 60 %>
     </p>
    <p>
      <%= form.label t('.correct') %>
      <%= form.check_box :correct, id: :answer_correct %>
    </p>
  </div>

  <div class="actions">
    <%= form.submit({class: 'btn btn-sm btn-outline-success'}) %>
  </div>
<% end %>

<%= link_to t('.back'), admin_question_path(@answer.question), class: "btn btn-sm btn-outline-dark"%>
