<p id="notice"><%= notice %></p>

<h3><%= t('.question') %>: <%= @answer.question.body %></h3>

<p>
  <strong><%= t('.body') %></strong>
  <%= @answer.body %>
</p>
<p>
  <strong><%= t('.correct') %>:</strong>
  <%= @answer.correct %>
</p>

<%= link_to t('.edit'), edit_admin_answer_path(@answer), class: "btn btn-sm btn-outline-secondary" %>
<%= link_to t('.back'), admin_question_path(@answer.question), class: "btn btn-sm btn-outline-dark"%>