<%= form_with model: [:admin, @test, @question], local: true do |f| %>
	<% render 'shared/errors', resource: @question %>
	<p><%= t('.question') %><br>
		<%= f.text_area(:body, {class: 'form-control'}) %>
	</p>
	<p>
		<%= f.submit({class: 'btn btn-sm btn-outline-success'})%>
	</p>
<% end %>
<%= link_to t('.back'), admin_tests_path, class: "btn btn-sm btn-outline-dark"%>