<h1>Тест <%= @question.test.title %></h1>
<h3><b>Вопрос:</b> <%= @question.body %></h3>

<h4>Ответы:</h4>

<ol>
	<%= render @question.answers %>
</ol>
<% if user_signed_in? %>
<%= link_to t('.new_answer'), new_admin_question_answer_path(@question), :class => "btn btn-warning" %>
<%= link_to t('.edit'), edit_admin_question_path(@question), :class => "btn btn-warning" %>
<%= link_to t('.delete'), admin_question_path(@question), method: :delete, data: {confirm: 'Want to delete a question?'}, :class => "btn btn-danger" %>
<% end %>
<%= link_to t('.back'), admin_test_path(@question.test), :class => "btn btn-warning" %>
<hr>
