<h1><%= t('.header') %></h1>
<br>
<p>
  <% if user_signed_in? %>
    <%= link_to t('.new_test'), new_admin_test_path, :class => "btn btn-warning" %>
  <% end %>
</p>

<% @test.each do |test| %>
  <div class="alert alert-light">
    <h3>Тест: <%= test.title %></h3>
    <p>Уровень: <%= test.level %></p>
    <p>Количество вопросов: <%= test.questions.count %></p>

    <%= link_to t('.show'), admin_test_path(test), :class => 'btn btn-outline-primary' %>
    <% if user_signed_in? %>
    <%= link_to t('.edit'), edit_admin_test_path(test), :class => "btn btn-warning" %>
    <%= link_to t('.delete'), admin_test_path(@test), method: :delete, data: {confirm: 'Want to delete a question?'}, :class => "btn btn-danger" %>
    <% end %>
  </div>
  <hr>
<% end %>
