<h1>Все наши тесты</h1>
<br>
<p>
  <% if user_signed_in? %>
    <%= link_to 'Create new test', new_admin_test_path, :class => "btn btn-warning" %>
  <% end %>
</p>

<% @test.each do |test| %>
  <div class="alert alert-light">
    <h3>Тест: <%= test.title %></h3>
    <p>Уровень: <%= test.level %></p>
    <p>Количество вопросов: <%= test.questions.count %></p>

    <%= link_to "Show", admin_test_path(test), :class => 'btn btn-outline-primary' %>
    <% if user_signed_in? %>
    <%= link_to 'Edit', edit_admin_test_path(test), :class => "btn btn-warning" %>
    <%= link_to 'Delete', admin_test_path(@test), method: :delete, data: {confirm: 'Want to delete a question?'}, :class => "btn btn-danger" %>
    <% end %>
  </div>
  <hr>
<% end %>
