<div class="row justify-content-center mt-3">
  <div class="col col-md-8">
    <h1><%= t('.header') %></h1>
    <p>
      <%= link_to t('.gists'), admin_gists_path, class: 'nav-link' %>
    </p>

    <p>
      <%= link_to t('.new'), new_admin_test_path, class: 'nav-link' %>
    </p>

    <table class="table">
      <thead>
      <tr>
        <th scope="col" class="sort-by-title pointer">
          <%= t('.title') %>
          <%= octicon 'arrow-up', class: 'text-success hide' %>
          <%= octicon 'arrow-down', class: 'text-success hide' %>
        </th>
        <th scope="col"><%= t('.level') %></th>
        <th scope="col"><%= t('.questions') %></th>
        <th colspan="4" scope="col" class="text-center"><%= t('.actions') %></th>
      </tr>
      </thead>

    <%= render @tests %>

    </table>
  </div>
</div>