<% @test.questions.each_with_index do |question, i| %>
	<p>
		<%= i + 1 %>. <b>Вопрос: </b> <%= question.body %>
		<%= link_to t('.show'), admin_question_path(question), :class => "btn btn-warning" %>
	</p>
<% end %>
<% if user_signed_in? %>
	<%= link_to t('.new_question'), new_admin_test_question_path(@test.id), :class => "btn btn-warning" %>
<% end %>
<%= link_to t('.back'), admin_tests_path, :class => "btn btn-warning" %>
<hr>
