<h1>Say Hello!</h1>

<div class="container_form">
  <div class="contact_form" id="contact">
    <%= form_with url: contact_path, local: true do |f| %>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "Enter your name", class: 'form-control' %>
      </p>
      <p>
        <%= f.label :email %>
        <%= f.email_field :email, required: true, placeholder: "example@gmail.com", class: 'form-control' %>
      </p>
      <p>
        <%= f.label :message %>
        <%= f.text_area :message, as: :text, placeholder: "Please enter your message here", class: 'form-control' %>
      </p>
      <%= f.submit 'Send message', class: "button" %>
    <% end %>
  </div>
</div>