<h1>Все наши тесты</h1>
<br>
<p>
  <%= link_to 'Create new test', new_test_path, :class => "btn btn-warning" %>
</p>

<% @test.each do |test| %>
  <div class="alert alert-light">
    <h3>Тест: <%= test.title %></h3>
    <p>Уровень: <%= test.level %></p>
    <p>Количество вопросов: <%= test.questions.count %></p>
    <%= button_to "Pass_the_test", start_test_path(test), :class => 'btn btn-success' %>
    <%= link_to "Show", test_path(test), :class => 'btn btn-outline-primary' %>
    <%= link_to 'Edit', edit_test_path(test), :class => "btn btn-warning" %>
    <%= link_to 'Delete', test_path(@test), method: :delete, data: {confirm: 'Want to delete a question?'}, :class => "btn btn-danger" %>
  </div>
  <hr>
<% end %>
